{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
<div class="row row-flex">
    <h1 class="header">Post a bug below</h1>
    
    <form method="POST" action="{% url 'new_bug' %}">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <button type="submit" class="btn btn-info">Post your bug</button>
    </form>
    {% for bug in bugs %}

            <div class="row">
                <h3>{{ Bug.name }}</h3>
                         <p>{{ Bug.content|truncatewords:30 }}</p>
                        <p><a href="{% url 'bug_detail' bug.pk %}"  class="btn btn-default">Read more</a></p>
                        <p><span class="boldtext">Created on:</span> {{ Bug.created_date }} </p>
                        <p><span class="boldtext">Expected to be fixed by:</span> {{Bug.finished_date}}</p>
                        <p><span class="boldtext">Tag:</span> {{ Bug.tag }}</p>
                    </div>
                </div>
            </div>

    {% endfor %}
{% endblock %}