{% extends "base.html" %}
{% block title %}Setting New password{% endblock %}
{% block content %}
{% if validlink %}
<div class="container">
   <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
      <div class="row row-flex">
         <div class="col">
            <p>Please enter your new password twice.<br />
               So we can verify you typed it in correctly.
            </p>
            <form action="" method="post" class="accountform">
               <div style="display:none">
                  <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
               </div>
               <table>
                  <tr>
                     <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label>
                     </td>
                     <td>{{ form.new_password1 }}</td>
                  </tr>
                  <tr>
                     <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label>
                     </td>
                     <td>{{ form.new_password2 }}</td>
                  </tr>
                  <tr>
                     <td></td>
                     <td><input type="submit" value="Change my password" /></td>
                  </tr>
               </table>
            </form>
         </div>
      </div>
   </div>
</div>
{% else %}
<div class="container">
   <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
      <div class="row row-flex">
         <div class="col">
            <h1>Password reset unsuccessful</h1>
            <p>The password reset link was invalid, <br />
               possibly because it has already been used. <br />
               Please request a new password reset.
            </p>
         </div>
      </div>
   </div>
</div>
{% endif %}
{% endblock %}