{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="container">
   <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
      <div class="row row-flex">
         <div class="col">
            <form method="post" class="accountform">
               <p>Please specify your email address to receive instructions for resetting it.</p>
               <br>
               <div style="display:none">
                  <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
               </div>
               {{ form.email.errors }}
               <p><label for="id_email" class="control-label required-field">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" /></p>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}