{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div class="row row-flex">
    <h1>Request a feature below</h1>
    <form method="POST" action="{% url 'new_feature' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <button type="submit" class="btn btn-info">Request a your feature</button>
    </form>
    {% for feature in features %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="row">
                <h3>{{ Features.name }}</h3>
                         <p>{{ Features.content|truncatewords:30 }}</p>
                        <p><a href="{% url 'feature_detail' feature.id %}"  class="btn btn-default">Read more</a></p>
                        <p><span class="boldtext">Created on:</span> {{ Features.created_date }} </p>
                        <p><span class="boldtext">Expected to be fixed by:</span> {{ Features.finished_date}}</p>
                        <p><span class="boldtext">Tag:</span> {{ Features.tag }}</p>
                    </div>
                </div>
            </div>
            <hr>
    {% endfor %}
{% endblock %}