body {
    font-family: Arial;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.header {
    margin-top: 100px;
    margin-left: 20px;
}
.view {
margin-top: 10px;
margin-left: 30px;
color: black;
}

.bugview {
    margin-top: 50px;
    margin-left: 50px;
}
.icon-bar {
    color: white;
}

footer {
    font-family: Arial;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}



.icon-bar {
    background-color: #fff;
}



.accountform {
    padding-top: 20px;
}



.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}



.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}



.feature {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}



caption p {
    word-wrap: break-word;
}



.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}



.panel-default {
    border-color: transparent;
    padding: 0 10px;
}



.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}



.feature-description {
    min-height: 40px;
}
