{% extends 'base.html' %}
{% block content %}
<div class="container">
   <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
      <div class="row row-flex">
         <div class="col">
    <h2 class="header">Success!</h2>
    <p>You are logged in as {{ user.email }} </p>
    {% for feature in features %}
                <div class="row">
                <div class="col">
                <h3 class="header">{{ Features.name }}</h3>
                         <p>{{ Features.content|truncatewords:30 }}</p>
                        <p><a href="{% url 'feature_detail' feature.id %}"  class="btn btn-default">Read more</a></p>
                        <p><span class="boldtext">Created on:</span> {{ Features.created_date }} </p>
                        <p><span class="boldtext">Expected to be fixed by:</span> {{ Features.finished_date}}</p>
                        <p><span class="boldtext">Tag:</span> {{ Features.tag }}</p>
                    </div>
                    </div>

    {% endfor %}
    {% for bug in bugs %}
     <div class="row">
     <div class="col">
                <h3>{{ bug.name }}</h3>
                         <p>{{ Bug.content|truncatewords:30 }}</p>
                        <p><a href="{% url 'bug_detail' bug.pk %}"  class="btn btn-default">Read more</a></p>
                        <p><span class="boldtext">Created on:</span> {{ bug.created_date }} </p>
                        <p><span class="boldtext">Expected to be fixed by:</span> {{ bug.finished_date}}</p>
                        <p><span class="boldtext">Tag:</span> {{ bug.tag }}</p>
                    </div>
     </div>
    {% endfor %}
    <p> Please report a  <a href="{% url 'bugs' %}"><i class="fa fa-user-plus"></i>bug</a> here. </p>
    <p> Please request a  <a href="{% url 'features' %}"><i class="fa fa-user-plus"></i>feature</a> here. </p>
     </div>
     </div>
     </div>
     </div>
{% endblock %}